body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(
        140deg,
        #eadedb 0%,
        #bc70a4 50%,
        #bfd641 75%
    );
}

.container #content {
    background-color: white;
    width: 20rem;
    border-radius: 15px;
    padding: 2rem 3rem;
}

.container #content form h1 {
    text-align: center;
}

.container #content form .form-group {
    margin-bottom: 1rem;
    font-size: 1.3em;
}

.container #content form .form-group .form-control {
    height: 1.8em;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.container #content form .form-group .form-control:focus {
    outline: none;
    transition-property: border-bottom-color;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    border-bottom-color: #25b2a2;
}

.container #content form .form-group input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.container #content form .form-group input[type="submit"] {
    width: 100%;
    height: 3rem;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
    background-image: linear-gradient(
        140deg,
        #eadedb 0%,
        #bc70a4 50%,
        #bfd641 75%
    );
    color: white;
    transition: background-image 0.5s ease;
}

.container #content form .form-group input[type="submit"]:hover {
    background-image: linear-gradient(
        140deg,
        #f6eef5 0%,
        #e087c7 50%,
        #d8f06e 75%
    );
}

.container #content form .remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn {
    outline: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.info {
    background-color: rgb(30, 204, 235);
    color: rgb(37, 36, 36);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.info:hover {
    background-color: rgb(5, 125, 149);
    color: white;
}
