@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.container {
    margin: 0;
    padding: 0;
    background-color: rgb(232, 236, 241);
    min-height: 100vh;
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

.container .sidebar {
    position: sticky;
    height: 100vh;
    width: 20%;
    background-color: white;
    border-right: 1px solid black;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .sidebar .image-text {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    overflow: hidden;
    cursor: pointer;
}

.container .sidebar .image-text.logo {
    border-bottom: 1px solid black;
}

.container .sidebar .image-text:not(.logo) {
    background-color: white;
    color: black;
    font-size: 1.3rem;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.container .sidebar .image-text:not(.logo) > :first-child {
    margin-left: 30px;
}

.container .sidebar .image-text:not(.logo):hover {
    background-color: rgb(149, 12, 228);
    color: white;
}

.container .sidebar .image-text.logo {
    font-size: 1.2rem;
}

.container .sidebar .image-text .image img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.container .sidebar .image-text .text p {
    word-wrap: break-word;
}

.container .navbar {
    height: 5rem;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0;
    width: calc(80% - 1px);
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .navbar .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 25px;
    font-size: 1.2rem;
}

.container .navbar .icon img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.container .navbar .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(199, 14, 14);
    cursor: pointer;
    margin-right: 25px;
}

.main-wrapper {
    width: calc(80% - 1px);
}

.btn {
    outline: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 15px;
}

.text-small {
    font-size: 1rem;
}

.success {
    background-color: rgb(19, 221, 19);
    color: rgb(37, 36, 36);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.success:hover {
    background-color: rgb(7, 91, 7);
    color: white;
}

.info {
    background-color: rgb(30, 204, 235);
    color: rgb(37, 36, 36);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.info:hover {
    background-color: rgb(5, 125, 149);
    color: white;
}

.danger {
    background-color: rgb(238, 85, 85);
    color: rgb(37, 36, 36);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.danger:hover {
    background-color: rgb(145, 6, 6);
    color: white;
}

.primary {
    background-color: rgb(81, 103, 229);
    color: rgb(37, 36, 36);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.primary:hover {
    background-color: rgb(11, 9, 170);
    color: white;
}

.secondary {
    background-color: rgb(155, 155, 160);
    color: rgb(37, 36, 36);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.secondary:hover {
    background-color: rgb(55, 55, 57);
    color: white;
}

.container .content {
    margin-top: 5rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .content table {
    width: 100%;
    margin-top: 20px;
}

.container .content table tr td {
    text-align: center;
    word-wrap: break-word;
}

.container .content table tr .action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container .content .pagination form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}

.container .content .pagination form .page-input {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content .pagination form .page-input input {
    font-size: 1.3rem;
    padding: 5px 7px;
    width: 2.2rem;
    text-align: right;
}
