.container .content table {
    width: 100%;
    margin-top: 20px;
}

.container .content table tr td {
    text-align: center;
    word-wrap: break-word;
}

.container .content table tr .action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container .content .pagination form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}

.container .content .pagination form .page-input {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content .pagination form .page-input input {
    font-size: 1.3rem;
    padding: 5px 7px;
    width: 2.2rem;
    text-align: right;
}
