body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    background-color: rgb(178, 180, 182);
    min-height: 100vh;
}

.container .sidebar {
    position: sticky;
    height: 100vh;
    width: 20%;
    background-color: white;
    border-right: 1px solid black;
    top: 0;
    left: 0;
}

.container .navbar {
    height: 5rem;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0;
    width: calc(80% - 1px);
    border-bottom: 1px solid black;
}
